@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Kumbh Sans", sans-serif;
}

.container {
  max-width: 375px;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
